body {
  background-color: #f6f7f3;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(2, 21, 104);
  font-size: 70px;
  margin-bottom: 80px;
   
}
.producto-container {
  background-color: #e0e0e0;
  padding: 100px;
  border-radius: 20px;
}

button {
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}

button:hover {
  background-color: #ebbbf0; 
  color: black;
}


.producto-fila {
  border-radius: 10px;
  padding: 10px;
  margin: 1px;
  background-color: #f7f2f2;
  color: #0a0a0a;
}
.etiqueta{
  font-weight: bold;
  margin-left: 20px;
}


.barra-busqueda-container {
  padding: 20px;
  background-color: #f8f2f2;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}

.barra-busqueda-titulo {
  text-align: center;
  color: #333;
}

.barra-busqueda-input-group {
  margin-bottom: 15px;
}

.barra-busqueda-label {
  margin-right: 10px;
  font-weight: bold;
}

.barra-busqueda-input {
  padding: 8px;
  width: 100%;
}

.barra-busqueda-opciones {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.barra-busqueda-radio-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.barra-busqueda-resultados {
  margin-top: 20px;
}

.lista {
  margin-top: 2px;
}


.input-modificar {
 padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.boton-modificar {
  padding: 10px 15px;
  background-color: #27d42d;
  color: rgb(253, 252, 252);
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}
